/*///////////////////
/ placement des div /
//////////////////*/
*{
    margin:3px;
}

.menudef{
    float:left;
    width: 5%;
    margin-left: 20px;
    color: #fff;
    background-color: #000;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}
.div2{
    float: left;
    width: 45%;
}
.div3{
    float: left;
    width: 45%
}
.content{
    position: relative;
    width: 95%;
    height: 300px;
    background-color: rgb(197, 192, 192);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}
.bcontent{
    width: 95%;
    height: 600px;
    background-color: rgb(197, 192, 192);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

/*///////////////////
/ carré qui tourne/
//////////////////*/


@keyframes tourne {
    
    0%{background-color: yellow;}
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#carré{
    position: relative;
    top:80px;
    left:350px;
    width: 50px;
    height: 50px;
    background:red;
    animation-name: tourne;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: background-color 4s, transform 3s;
}

/*///////////////////
/ balle qui rebondit/
//////////////////*/

.tube{
    position: relative;
    top:80px;
    left:350px;
    width: 20px;
    height: 120px;
    border:2px solid greenyellow;
}

.balle{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: greenyellow;
    animation-name: rebond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rebond{
    0%{left: -3px;top:0px}
    10%{left:-3px; top:100px}
    200%{left:-3px; top:70px;}
    30%{left:-3px; top:50px}
    40%{left:-3px; top:70px}
    50%{left:-3px; top:100px}
    60%{left:-3px; top:70px}
    70%{left:-3px; top:100px}
    80%{left:-3px; top: 80px;}
    90%{left:-3px; top:90px}
    100%{left:-3px; top:100px}
}

/*///////////////////
/    Loader         /
//////////////////*/

.circle1,.circle2, .circle3{
    box-sizing: border-box;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid black;
    animation-direction: alternate;
}
.circle1{
    background-color: #fff;
    top: 80px;
    left: 200px;
    animation-name: depart1;
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.circle2{
    background-color: #fff;
    bottom: 40px;
    left: 320px;
    animation-name: depart2;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} 
.circle3{
    background-color: #fff;
    bottom:160px;
    left: 440px;
    animation-name: depart3;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes depart1{
    100%{background-color: #000;}
}

@keyframes depart2{
    100%{background-color: #000;}
}

@keyframes depart3{
    100%{background-color: #000;}
}

/*///////////////////
/  Faire la queue   /
//////////////////*/

.cube1 , .cube2, .cube3, .cube4, .cube5, .cube6{
    position: absolute;
    top:10px;
    left:10px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 3px;
}
.cube1{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.cube2{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.cube3{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.cube4{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.cube5{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}
.cube6{
    animation-name: suivre;
    animation-duration: 18s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes suivre{
    0%{background-color: blue; top:10px; left:10px;}
    10%{background-color: rgb(203, 44, 224); top:10px; left:780px;}
    20%{background-color: rgb(224, 189, 92); top:270px; left:780px; transform: rotate(180deg);}
    30%{background-color: rgb(238, 136, 40); top:270px; left:10px;}
    40%{background-color: rgb(224, 65, 16); top:10px; left:10px;transform: rotate(360deg);}
    50%{background-color: rgb(6, 121, 58); top:10px; left:780px;}
    60%{background-color: blue; top:270px; left:780px;transform: rotate(180deg);}
    70%{background-color: rgb(203, 44, 224); top:270px; left:10px;}
    75%{background-color: rgb(224, 189, 92); top:10px; left:10px;transform: rotate(360deg);}
    80%{background-color: rgb(238, 136, 40); top:10px; left:780px;}
    90%{background-color: rgb(224, 65, 16); top: 270px; left:780px;transform: rotate(180deg);}
    95%{background-color: rgb(6, 121, 58); top:270px; left:10px;}
    100%{background-color: blue; top:10px; left:10px;transform: rotate(360deg);}
}
/*///////////////////
/  menu deroulant  /
//////////////////*/

.menudef:hover{
    height: 800px;
}