img
{
    width: 150px;
    height: 150px;
}
span
{
    font-size: 70px;
}
#temp
{
    position: relative;
    padding-top: 10px;
    float:right;
}
#div1
{
    width:40% ;
}
#info
{
    margin-left: 35%;
    width:20% ;
    position: relative ;
    float: right;
}
.lign
{
    width: 95%;
}
.lign div
{
    display:inline-flex;
    margin-left:4%;
    
}
.lign div p
{
   display: block;
   text-align: center;
}

@media screen and (max-width:800px)
{
    .lign div
    {
        
        
    }
    .lign div p
    {
        display: flex;
    }  
}