*{
    margin:0;
}
div{
    border:5px solid black;
}
#bleu{
    background-color: blue;
    width: 300px;
    height: 300px;
    float:left;
}
#rouge{
    background-color:rgba(255,0,0,0.7);
    width: 300px;
    height: 300px;
    float:left;
}
#vert{
    background-color: green;
    width: 300px;
    height: 300px;
    float: right;
}
#jaune{
    height: 300px;
    width: 100%;
    background-color: khaki;
    float:left;
}
#violet{
    height: 300px;
    width: 300px;
    background-color: darkorchid;
    float: right;
}