div{
    border:5px solid black
}
#bleu{
    position:absolute;
    left: 405px;
    background-color: rgb(146, 188, 243);
    width: 300px;
     height: 300px;
}
#rouge{
    position:absolute;
    top:405px;
    left:400px;
    background-color:rgba(15, 130, 184, 0.7);
    width: 300px;
    height: 300px;

    
}
#vert{
    position: absolute;
    top:405px;
    background-color: #1498BF;
    width: 300px;
    height: 300px;
}
#jaune{
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    height: 750px;
    width: 750px;
    background-color: #073340;
}
#violet{
    
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #0D667F;
}