
#color1{
    position: relative;
    top: 100px;
    left: 100px;
    background-color: #1498BF;
    width: 300px;
    height: 150px;
}
#color2{
    position: relative;
    top:25px;
    left:150px;
    background-color:#0D667F;
    opacity:0.5;
    width: 200px;
    height: 100px;

    
}
#color3{
    position: relative;
    bottom:50px;
    right:20px;
    background-color: #073340;
    width: 200px;
    height: 50px;
}
