#header 
{
    margin-left: 2.5%;
    width: 95%;
    height: auto;
    background-color: grey;
    border: 1px solid black;
    text-align: center;
}
.hidden
{
    visibility: hidden;
}
#presentation
{
    margin-left: 2.5%;
    width: 95%;
    height: auto;
    background-color: bisque;
    border: 1px solid black;
}
h1::first-letter
{
    text-transform: capitalize;
}
#sectiong
{
    margin-left: 2.5%;
    width: 45%;
    height: auto;
    border: 1px solid black;
}
#sectiondh
{
    margin-left: 2.5%;
    width: 45%;
    height: auto;
    border: 1px solid black;
}
#sectiondb
{
    margin-left: 2.5%;
    width: 45%;
    height: auto;
    border: 1px solid black; 
}
div
{

}
footer
{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    border:1px solid black;
    background-color: coral;
}