body{
    background-color: #FFE8E2;
}



footer
{
    float:left;
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-left: 2.5%;
    border:1px solid black;
    background-color:#7F7A79;
}


h1::first-letter
{
    text-transform: capitalize;
}



#header , #presentation, #sectiong, #sectiondh, #sectiondb
{
    margin-left: 2.5%;
    width: 95%;
    height: auto;
    border: 1px solid black;
}

#header
{
    background-color: #403D3C;
    text-align: center;
}

.hidden
{
    visibility: hidden;
}

/* gestion de la section profil */

#presentation
{
    text-align: center;
    background-color: #7F7471;
    height: 500px;
}

#profil
{
    text-align: left;
    float:left;
    width: 30%;
    margin-left: 10%;
}

#photo img
{
    border: 2px solid rgb(102, 76, 76);
    margin: auto;
}

#photo
{
    width: 350px;
    float: right;
    margin-right: 15%;
}
#pitch
{
    width: 90%;
    background-color: rgb(165, 161, 161);
    text-align: justify;
}

/* gestion des section contenu */

.periode
{
    color: #FF7F35;
}

#sectiong
{
    position: absolute;
    float: left;
    height:800px;
    padding:2px;
}

#sectiong , #sectiondh, #sectiondb
{
    width: 46%;
    background-color: #BFAEA9;
    margin-top: 30px;
}

#sectiondh, #sectiondb
{
    margin-right: 2.5%;
    float:right;
    
}

#sectiondb article ,#sectiondh article,#sectiong article {
    background-color: #E5D1CB;
    margin: 10px;
    text-align: justify;
    padding:2px;
}

/* Media pour mobile */

@media screen and (max-width: 500px){
    #sectiondh,#sectiondb,#sectiong,aside{
        padding: 0;
        margin:0;
        width: 100%;
        position: relative;
        float:right;
    }
    p a, p span{
        display:none;
    }
    #presentation header{
        display: none;
    }
    #presentation article p{
        position: relative;
        display: flex;
        float: left;
    }
    #kkkk p{
        display: inline-block;
        margin-left: 10px;
    }
    #presentation article
    {
        margin:0;
        padding:0;
        min-width: 100%;
    }
}





