article
{
    border: 1px solid royalblue;
}

footer
{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    border:1px solid black;
    background-color: coral;
}


#header , #presentation, #sectiong, #sectiondh, #sectiondb
{
    margin-left: 2.5%;
    width: 95%;
    height: auto;
    border: 1px solid black;
}

#header
{
    background-color: grey;
    text-align: center;
}

.hidden
{
    visibility: hidden;
}

#presentation
{
    background-color: bisque;
}

h1::first-letter
{
    text-transform: capitalize;
}

#sectiong , #sectiondh, #sectiondb
{
    width: 45%;
}

div
{

}




