#color1 , #color2{
    padding: 50px;  
}

#color1{
    top: 100px;
    left: 100px;
    background-color: #1498BF;
    width: 10%;
}

#color2{
    background-color:#0D667F;
    opacity:0.5;
}

#color3{
    position: absolute;
    top:250px;
    left:125px;
    background-color:  #073340;
    width: 50px;
    height: 50px;
}
